<div class="container bg-light p-4">
<div class="row">
<div class="col-7 m-auto">
<h1>Cadastro de Produtos</h1>
<form>
  <div class="row">
  <div class="col-sm-6">
  <label for="id_produto" class="form-label">Id do produto</label>
  <input
  type="text"
  class="form-control"
  id="id_produto"
  name="id_produto"
  >
</div>
  <div class="col-sm-6">
    <label for="nome" class="form-label">Nome</label>
    <input
    type="text"
    class="form-control"
    id="nome"
    name="nome"
    >
  </div>
</div>
  <div class="mb-3">
    <label for="descrição" class="form-label">Descrição</label>
  <textarea
  type="text"
  class="form-control"
  id="descrição"
  name="descrição"
  >
</textarea>
<div class="row">
  <div class="col-sm-6">
  <label for="preço" class="form-label">Preço</label>
  <input
  type="number"
  class="form-control"
  id="preço"
  name="preço"
>
</div>
<div class="col-sm-6">
  <label for="quantidade" class="form-label">Quantidade</label>
  <input
  type="number"
  class="form-control"
  id="quantidade"
  name="quantidade"
>
</div>
</div>
<div class="row mt-3">
  <div class="col-sm-6">
<button type="button" class="btn btn-primary btn-block">Salvar</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
