<div class="container bg-light p-4">
<div class="row">
<div class="col-7 m-auto">
<h1>Cadastro de Produtos</h1>
<form>
  <div class="mb-3">
  <label for="id_produto" class="form-label">Id produto</label>
  <input
  type="text"
  class="form-control"
  id="id_produto"
  name="id_produto"
  >
</div>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input
    type="text"
    class="form-control"
    id="nome"
    name="nome"
    >
  </div>
  <div class="mb-3">
  <label for="preço" class="form-label">Preço</label>
  <input
  type="number"
  class="form-control"
  id="preço"
  name="preço"
>
</div>
<div class="mb3">
  <label for="quantidade" class="form-label">Quantidade</label>
  <input
  type="number"
  class="form-control"
  id="quantidade"
  name="quantidade"
>
</div>
</form>
</div>
</div>
</div>
